spacy~=3.8.3
ttkthemes~=3.2.2
pillow~=11.1.0
setuptools~=75.8.0
fsspec~=2024.12.0
cyhunspell @ https://github.com/MartinHlavna/cython_hunspell/archive/refs/tags/3.0.4.tar.gz
svglib~=1.5.1
reportlab~=4.2.5
pytest~=8.3.4
pythes @ git+https://github.com/corerd/pythes
tkinter-autoscrollbar @ git+https://github.com/MartinHlavna/tkinter-autoscrollbar
pypandoc~=1.15
requests~=2.32.3
semver~=3.0.2
ufal.morphodita~=1.11.2.1
rlPyCairo~=0.3.0
dicttoxml~=1.7.16
untangle~=1.2.1
