spacy~=3.7.5
ttkthemes~=3.2.2
pillow~=10.3.0
setuptools~=75.3.0
fsspec~=2024.10.0
cyhunspell @ https://github.com/MSeal/cython_hunspell/archive/refs/tags/2.0.3.tar.gz
svglib~=1.5.1
reportlab~=4.2.5
pytest~=8.2.2
pythes @ git+https://github.com/corerd/pythes
tkinter-autoscrollbar @ git+https://github.com/MartinHlavna/tkinter-autoscrollbar
pypandoc~=1.14